---
layout: _layout.liquid
---
<div class="md:max-w-2/4 mx-auto px-4">
    <header>
        <h1 class="text-3xl mb-2">{{ title }}</h1>
        <ul class="mb-4 list-disc ml-4">
            <li>
                <a href="mailto:info@volgendjaarwoensdag.nl">Contact & booking</a>
            </li>
            <li>
                <a target="_blank" href="https://instagram.com/volgendjaarwoensdag">Instagram @volgendjaarwoensdag</a>
            </li>
        </ul>
    </header>
    <main class="space-y-8 mb-16">
        <div>
            <img src="./images/5a109a93-cd0f-475d-a5f6-3b1c40d0c722.jpg" alt="">
        </div>
        <div>
            <h2 class="font-bold inline">Bio</h2> —
            <p class="inline">
                Het begin 2024 in Utrecht opgerichte Volgend Jaar Woensdag brengt grote en kleine liedjes over herkenbare problemen. De sound is toegankelijk, dynamisch en neemt af en toe een verrassende afslag. Hun debuut-ep "Uit de verf" ligt sinds april 2025 op het internet.
            </p>
        </div>
        <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/album/724DqhMNmpVvxozUFcMgGH?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <div class="space-y-4">
            <h2 class="font-bold inline-block">Impressie</h2>
            <details>
                <summary class="cursor-pointer">De Peppel, Zeist. April 2025.</summary>
                <div class="mt-2">
                    <p>
                        https://youtu.be/1qG9kYslk6c
                    </p>
                </div>
            </details>
            <details>
                <summary class="cursor-pointer">Rabo Open Winter Stage, Tivoli, Utrecht. Januari 2025.</summary>
                <div class="mt-2">
                    <p>
                        https://www.youtube.com/watch?v=WLosoSRR_Ho
                    </p>
                </div>
            </details>
        </div>
        <div class="space-y-4">
            <h2 class="font-bold inline-block">Persbeeld</h2> — <a href="./{{ presskitZip }}" download>Download alle (.zip)</a>
            <ul class="space-y-6">
                <li>
                    <div class="md:grid grid-cols-4 gap-4 space-y-4">
                        <div class="col-span-2">
                            <img
                                src="./presskit/53d3d118-bfb7-4140-b5c1-3fed8736e943.jpg" alt=""
                                class="w-full aspect-3/2 object-cover object-[50%_30%]"
                            >
                        </div>
                        <div class="col-span-2">
                            <p>
                                Credits: <a href="https://www.instagram.com/karlijn_dekok/">Karlijn de Kok</a>, optreden Rabo Open Winter Stage, Tivoli Utrecht. Januari 2026.
                            </p>
                            <a href="./presskit/53d3d118-bfb7-4140-b5c1-3fed8736e943.jpg" download>Download afbeelding</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="md:grid grid-cols-4 gap-4 space-y-4">
                        <div class="col-span-2">
                            <img
                                    src="./presskit/f06bc621-d205-496b-9db8-2570ddfbd259.jpg" alt=""
                                    class="w-full aspect-3/2 object-cover object-center"
                            >
                        </div>
                        <div class="col-span-2">
                            <p>
                                Credits: Melanie van der Wiel, Utrecht. December 2025.
                            </p>
                            <a href="./presskit/f06bc621-d205-496b-9db8-2570ddfbd259.jpg" download>Download afbeelding</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="md:grid grid-cols-4 gap-4 space-y-4">
                        <div class="col-span-2">
                            <img
                                    src="./presskit/9db74c6c-e205-4399-8f44-8bba75be31b3.jpg" alt=""
                                    class="w-full aspect-3/2 object-cover object-center"
                            >
                        </div>
                        <div class="col-span-2">
                            <p>
                                Credits: Volgend Jaar Woensdag, Utrecht. Februari 2025.
                            </p>
                            <a href="./presskit/9db74c6c-e205-4399-8f44-8bba75be31b3.jpg" download>Download afbeelding</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="md:grid grid-cols-4 gap-4 space-y-4">
                        <div class="col-span-2">
                            <img
                                    src="./images/5a109a93-cd0f-475d-a5f6-3b1c40d0c722.jpg" alt=""
                                    class="w-full aspect-3/2 object-cover object-[50%_10%]"
                            >
                        </div>
                        <div class="col-span-2">
                            <p>
                                Credits: <a href="https://www.instagram.com/karlijn_dekok/">Karlijn de Kok</a>. December 2024
                            </p>
                            <a href="./presskit/5a109a93-cd0f-475d-a5f6-3b1c40d0c722.jpg" download>Download afbeelding</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="md:grid grid-cols-4 gap-4 space-y-4">
                        <div class="col-span-2">
                            <img
                                    src="./presskit/ba7de81f-45d5-4a95-af88-ba65c1746551.jpg" alt=""
                                    class="w-full aspect-3/2 object-cover object-[50%_10%]"
                            >
                        </div>
                        <div class="col-span-2">
                            <p>
                                Credits: <a href="https://www.instagram.com/karlijn_dekok/">Karlijn de Kok</a>. September 2024
                            </p>
                            <a href="./presskit/ba7de81f-45d5-4a95-af88-ba65c1746551.jpg" download>Download afbeelding</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <footer class="pb-4">
       Volgend Jaar Woensdag, 2026
    </footer>
</div>
